[% UNLESS no_frame %]
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
 PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Publications</title>
[% END %]
[% UNLESS external_css %]
<style type="text/css">
[% css %]
</style>
[% END %]
[% UNLESS no_frame %]
</head>
<body>
[% END %]
<div id="abstract_mask"></div>
[% lastyear = 0 %]

[% FOREACH publication IN publications %]

[% IF publication.year != lastyear %]
[% lastyear = publication.year %]
<h2 class="year">[% publication.year %]</h2>
[% END %]

<div class="publication [% publication.type %]">
<div class="bibitem"><a id="[% publication.anchor %]" href="#[% publication.anchor %]">[% publication.bibkey %]</a></div>
<div class="title">[% publication.title %]</div>
<div class="authors">[% publication.authors %]</div>
<div class="info">[% publication.info %]</div>

<ul class="misclist">
  [% IF publication.abstract %]
  <li><div class="blocklink" id="link:abstract_[% publication.anchor %]">abstract</div></li>
  [% END %]
  [% IF publication.bibtex %]
  <li><div class="blocklink" id="link:bibtex_[% publication.anchor %]">BibTeX</div></li>
  [% END %]
  [% FOREACH item IN publication.misc %]
    [% IF item.raw %]
      <li>[% item.raw %]</li>
    [% ELSE %]
      <li><a href="[% item.href %]">[% item.label %]</a></li>
    [% END %]
  [% END %]
  [% IF publication.doi %]
  <li><a class="doi" href="http://dx.doi.org/[% publication.doi %]">[% publication.doi %]</a></li>
  [% END %]
</ul>

[% IF publication.abstract %]
<div id="abstract_[% publication.anchor %]" class="abstract">[% publication.abstract %]</div>
[% END %]
[% IF publication.bibtex %]
<div id="bibtex_[% publication.anchor %]" class="bibtex">[% publication.bibtex %]</div>
[% END %]

</div>
<!-- END [% publication.bibkey %] -->
[% END %]

<script type="text/javascript"> /* <![CDATA[ */
    function setup_blocks() {
      all_divs = document.getElementsByTagName("div");
      for (var i = 0; i < all_divs.length; i++) {
        if (all_divs[i].className == "blocklink") {
          all_divs[i].style.display = "inline";
          all_divs[i].addEventListener('click', function() { block_visible( this.id.substr(5) ); });
        } else if (all_divs[i].className == "abstract") {
          all_divs[i].style.display = "none";
          all_divs[i].style.position = "absolute";
          all_divs[i].style.left = "60px";
          all_divs[i].style.zIndex = 1;
          all_divs[i].style.border = "#000 1px solid";
          all_divs[i].style.width = "50%";
        }
      }
      var abstract_mask = document.getElementById("abstract_mask");
      if (abstract_mask) {
        var height = Math.max(document.body.scrollHeight, document.body.offsetHeight);
        abstract_mask.style.height=height+"px";
        abstract_mask.addEventListener('click', function() { block_visible(visible_block); });
      }
    }
    function block_visible(id) {
      if (visible_block) {
        t = document.getElementById(visible_block).style.display = "none";
        var abstract_mask = document.getElementById("abstract_mask");
        if (abstract_mask) {
          abstract_mask.style.display = "none";
        }
        if (visible_block == id) {
          visible_block = 0;
          return;
        }
        visible_block = 0;
      }
      var e = document.getElementById(id);
      if (e) {
         document.getElementById('abstract_mask').style.display="block";
         e.style.display = "block";
         visible_block = id;
      }
    }

    var visible_block = 0;
    setup_blocks();
 /* ]]> */ </script>
[% UNLESS no_frame %]
</body>
</html>
[% END %]
